.guide-wrapper {
    position: absolute;
    top: 10px;
    left: 14px;
}

.guide-popup {
    position: absolute;
    top: 8px;
    left: 0px;
}

.guide-close {
    position: absolute;
    top: 0px;
    left: 120px;
}

.guide-wrapper-mobile {
    position: absolute;
    top: 10px;
    left: 20px;
}

.guide-popup-mobile {
    position: absolute;
    top: 11px;
    left: 0px;
}

.guide-close-mobile {
    position: absolute;
    top: 0px;
    left: 125px;
}